<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://senseisandy.com/#website",
      "url": "https://senseisandy.com/",
      "name": "Sensei Sandy BJJ",
      "publisher": {
        "@id": "https://senseisandy.com/#organization"
      },
      "inLanguage": "en-US"
    },
    {
      "@type": "Organization",
      "@id": "https://senseisandy.com/#organization",
      "name": "Sensei Sandy BJJ",
      "alternateName": [
        "Sensei Sandy Jiu Jitsu Studio",
        "Sensei Sandy",
        "Sensei Sandy Jiu Jitsu",
        "Sensei Jiu Jitsu",
        "Jiu Jitsu Sandy",
        "Sandy Jiu Jitsu",
        "Sensei Studio BJJ"
      ],
      "url": "https://senseisandy.com/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://senseisandy.com/assets/img/brand/sensei-sandy-bjj-logo-512.png"
      },
      "sameAs": [
        "https://www.instagram.com/senseisandybjj/",
        "https://www.facebook.com/p/Sensei-Sandy-BJJ-61579362991950/",
        "https://www.youtube.com/@SenseiSandyBJJ"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "customer service",
        "telephone": "+1-917-736-8649",
        "email": "me@senseisandy.com"
      }
    },
    {
      "@type": [
        "LocalBusiness",
        "SportsActivityLocation"
      ],
      "@id": "https://senseisandy.com/#localbusiness",
      "name": "Sensei Sandy BJJ",
      "url": "https://senseisandy.com/",
      "logo": "https://senseisandy.com/assets/img/brand/sensei-sandy-bjj-logo-512.png",
      "telephone": "+1-917-736-8649",
      "email": "me@senseisandy.com",
      "description": "Sensei Sandy BJJ is a calm, beginner-friendly Brazilian Jiu-Jitsu studio for kids, teens, and adults in Tannersville, New York.",
      "founder": {
        "@id": "https://senseisandy.com/#person"
      },
      "employee": {
        "@id": "https://senseisandy.com/#person"
      },
      "priceRange": "$$",
      "sport": "Brazilian Jiu-Jitsu",
      "parentOrganization": {
        "@id": "https://senseisandy.com/#organization"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "6045 Main Street, 2nd Floor Studio",
        "addressLocality": "Tannersville",
        "addressRegion": "NY",
        "postalCode": "12485",
        "addressCountry": "US"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 42.1954787,
        "longitude": -74.1323751
      },
      "hasMap": "https://www.google.com/maps/search/?api=1&query=Sensei+Sandy+BJJ&query_place_id=ChIJwU-CP5Kt3YkR8zl7MbYlL3s",
      "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Programs and Coaching",
        "itemListElement": [
          {
            "@type": "Offer",
            "name": "Kids Brazilian Jiu-Jitsu",
            "url": "https://senseisandy.com/kids"
          },
          {
            "@type": "Offer",
            "name": "Teen Brazilian Jiu-Jitsu",
            "url": "https://senseisandy.com/teen-jiu-jitsu-tannersville-ny"
          },
          {
            "@type": "Offer",
            "name": "Adult Brazilian Jiu-Jitsu",
            "url": "https://senseisandy.com/adult-bjj"
          },
          {
            "@type": "Offer",
            "name": "Private Coaching",
            "url": "https://senseisandy.com/private-lessons"
          }
        ]
      },
      "areaServed": [
        {
          "@type": "City",
          "name": "Tannersville"
        },
        {
          "@type": "City",
          "name": "Hunter"
        },
        {
          "@type": "City",
          "name": "Windham"
        },
        {
          "@type": "City",
          "name": "Haines Falls"
        },
        {
          "@type": "Place",
          "name": "Catskills"
        }
      ],
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Friday"
          ],
          "opens": "16:00",
          "closes": "19:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Saturday"
          ],
          "opens": "10:30",
          "closes": "11:30"
        }
      ],
      "sameAs": [
        "https://www.instagram.com/senseisandybjj/",
        "https://www.facebook.com/p/Sensei-Sandy-BJJ-61579362991950/",
        "https://www.youtube.com/@SenseiSandyBJJ",
        "https://senseisandy.com/contact",
        "https://senseisandy.com/bio",
        "https://senseisandy.com/schedule",
        "https://senseisandy.com/sensei-jiu-jitsu"
      ]
    },
    {
      "@type": "Person",
      "@id": "https://senseisandy.com/#person",
      "name": "Sandy Jose Nunez",
      "alternateName": [
        "Sensei Sandy",
        "Sandy Nunez",
        "Jiu Jitsu Sandy",
        "Sandy Jiu Jitsu"
      ],
      "jobTitle": "Brazilian Jiu-Jitsu Instructor",
      "url": "https://senseisandy.com/bio",
      "award": "Brazilian Jiu-Jitsu black belt under Josh Griffiths of Clockwork Jiu Jitsu",
      "worksFor": {
        "@id": "https://senseisandy.com/#organization"
      },
      "founder": {
        "@id": "https://senseisandy.com/#organization"
      },
      "affiliation": {
        "@type": "SportsOrganization",
        "name": "Sensei Sandy BJJ",
        "url": "https://senseisandy.com/"
      },
      "alumniOf": {
        "@type": "SportsOrganization",
        "name": "Clockwork Jiu Jitsu",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "New York",
          "addressRegion": "NY",
          "addressCountry": "US"
        }
      },
      "knowsAbout": [
        "Brazilian Jiu-Jitsu",
        "Carlos Gracie lineage",
        "Helio Gracie lineage",
        "Carlos Gracie Jr. lineage",
        "Roberto Maia lineage",
        "Kenny Florian lineage",
        "Josh Griffiths lineage",
        "Beginner Brazilian Jiu-Jitsu",
        "Kids Jiu-Jitsu",
        "Teen Jiu-Jitsu",
        "Adult Brazilian Jiu-Jitsu",
        "No-Gi Jiu-Jitsu",
        "Self-defense",
        "Grappling"
      ],
      "sameAs": [
        "https://www.instagram.com/senseisandybjj/",
        "https://www.facebook.com/p/Sensei-Sandy-BJJ-61579362991950/",
        "https://senseisandy.com/bio",
        "https://senseisandy.com/sensei-jiu-jitsu"
      ],
      "description": "Sandy Jose Nunez, also known as Sensei Sandy, is a Brazilian Jiu-Jitsu black belt under Josh Griffiths of Clockwork Jiu Jitsu in New York City. His lineage traces through Carlos Gracie, Helio Gracie, Carlos Gracie Jr., Roberto Maia, Kenny Florian, Josh Griffiths, and Sandy Jose Nunez."
    }
  ]
}
</script>
